In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
companies = pd.read_csv('company_clean.csv')
round2 = pd.read_csv('round2_clean.csv')

In [4]:
# lets join both
master_frame = companies.merge(round2, how='inner', left_on='permalink', right_on='company_permalink')
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-qounter,:Qounter,http://www.qounter.com,Real Time,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
4,/organization/-qounter,:Qounter,http://www.qounter.com,Real Time,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0

In [8]:
# check missing values
master_frame.isna().sum()

permalink                       0
name                            1
homepage_url                10446
category_list                3410
status                          0
country_code                19358
state_code                  25308
region                      22445
city                        22442
founded_at                  35570
company_permalink               0
funding_round_permalink         0
funding_round_type              0
funding_round_code         208203
funded_at                       0
raised_amount_usd           46743
dtype: int64

In [10]:
# lets see what percentage null values makes for better understanding

round(100 * (master_frame.isna().sum() / len(master_frame.index)),2)

permalink                   0.00
name                        0.00
homepage_url                3.68
category_list               1.20
status                      0.00
country_code                6.83
state_code                  8.93
region                      7.92
city                        7.92
founded_at                 12.55
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         73.44
funded_at                   0.00
raised_amount_usd          16.49
dtype: float64

#### lets remove columns
1. *homepage_url* -  not required for analysis
2. *state_code*, *region*, *city* - not required for analysis
3. *founded_at* - not required for analysis
4. *funding_round_code* - have 73% data missing

In [12]:
master_frame = master_frame.drop(columns=['homepage_url', 'state_code', 'region', 'city', 'founded_at', 'funding_round_code'])

In [13]:
round(100 * (master_frame.isna().sum() / len(master_frame.index)),2)

permalink                   0.00
name                        0.00
category_list               1.20
status                      0.00
country_code                6.83
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funded_at                   0.00
raised_amount_usd          16.49
dtype: float64

In [14]:
# raised_amount_usd has maximum null values here , but it is important column.
# lets handel its null values

master_frame.describe()

       raised_amount_usd
count       2.367480e+05
mean        9.682905e+06
std         1.130244e+08
min         0.000000e+00
25%         2.500000e+05
50%         1.300000e+06
75%         5.748335e+06
max         2.127194e+10